@page "/"
@inject HttpClient Http

<h3>Test API Call</h3>

<p>@message</p>


<h3>Run Code</h3>

<textarea @bind="code" rows="4" style="width: 100%;"></textarea>

<button @onclick="SendCode">Send to API</button>

<p>@result</p>

@if (!string.IsNullOrEmpty(output))
{
    <p>Вывод: @output</p>
}

@code {
    string code = "print('hello')"; // тестовое значение
    string tests = "print('hello')"; // тестовое значение
    string result = "";
    string message = "";
    string output = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CallApi();
            StateHasChanged();
        }
        @* return base.OnAfterRenderAsync(firstRender); *@
    }

    private async Task CallApi()
    {
        try
        {
            var result = await Http.GetStringAsync("api/solutions");
            message = $"Решения: {result}";
        }
        catch (Exception ex)
        {
            message = $"Ошибка: {ex.Message}";
        }
    }

    private async Task SendCode()
    {
        try
        {
            var payload = new CreateSubmissionRequest()
            {
                Code = code,
                Tests = tests
            };

            var response = await Http.PostAsJsonAsync("api/submissions", payload);

            var data = await response.Content.ReadFromJsonAsync<CreateSubmissionResponse>();

            result = $"RunId: {data?.RunId}";

            _ = PollStatus(data?.RunId!);
        }
        catch (Exception ex)
        {
            result = $"Ошибка: {ex.Message}";
        }
    }
    
    private async Task PollStatus(string runId)
    {
        output = "pending...";
        StateHasChanged();
        while (true)
        {
            var res = await Http.GetFromJsonAsync<SubmissionResult>($"api/submissions/{runId}/result");

            if (res.Status == "done")
            {
                output = res.Result;
                StateHasChanged();
                break;
            }

            await Task.Delay(1000);
        }
    }

    private class SubmissionResult
    {
        public string Status { get; set; } = "";
        public string Result { get; set; } = "";
    }


    public class CreateSubmissionRequest
    {
        public string Code { get; set; } = "";
        public string Tests { get; set; } = "";
    }

    public class CreateSubmissionResponse
    {
        public string RunId { get; set; }
    }
}
